/* RESPONSIVE DESIGN */
@media screen and (max-width: 1023px){
	/*BG 01 - 02*/
	.bgA, .bgB{
		padding: 120px;
	}
	.titulo-slide-a{;
		font-size: 50px;
	}
	.titulo-slide-b{
		font-size: 36px;
		margin-top: -40px;
		letter-spacing: 2px;
	}

	/*GALERIA*/
	.galeria{
		text-align: center;
	}

	/*PREPARACION*/
	.contenedor-img-derecha{
		text-align: center;
	}

}

/*HERO CAPTION*/
@media screen and (max-width: 968px){
	.titulo-a{
		font-size: 60px;
	}
	.titulo-b{
		font-size: 50px;
	}
}

/*NAV INFO*/
@media screen and (max-width: 931px){
	.contenedor-nav{
		margin: auto;
	}
	.contenedor-nav i{
		display: inline-block;
	}
	.contenedor-nav h5{
		display: none;
	}
	.nav div{
		margin-left: 60px;
		margin-right: 60px;
	}

}

/*Hero Caption*/
@media screen and (max-width: 890px){
	.titulo-b{
		line-height: 1;
		padding-top: 18px;
	}
}

	/*iPad*/
@media screen and (max-width: 768px){
	/*PORTADA*/
	.titulo-a{
		font-size: 50px;
	}
	.titulo-b{
		font-size: 40px;
	}
	.titulo-slide-b{
		line-height: 30px;
		padding-top: 15px;
	}
	.galeria{
		padding-top: 20px;
	}
}

@media screen and (max-width: 732px){
	/*PORTADA*/
	.titulo-a{
		font-size: 48px;
	}
	.titulo-b{
		font-size: 36px;
	}

	/*BG 01 - 02*/
	.bgA, .bgB{
		padding: 100px;
	}
	.titulo-slide-a{;
		font-size: 45px;
	}
	.titulo-slide-b{
		font-size: 30px;
		margin-top: -30px;
	}

	/*TITULOS SECCIONES*/
	.tit_san-serif{
		font-size: 40PX;
	}
	.tit_cursiva{
		font-size: 50px;
	}

}

@media screen and (max-width: 540px){
	.tit_cursiva{
		font-size: 42px;
	}
	.tit_san-serif{
		font-size: 32px;
	}
	.titulo-a{
		font-size: 45px;
	}
	.titulo-b{
		font-size: 34px;
		line-height: 36px;
	}
	.titulo-slide-a{
		font-size: 40px;
		line-height: 20px;
	}
	.titulo-slide-b{
		padding-top: 30px;
		font-size: 28px;
		letter-spacing: 0;
		line-height: 19px;
	}
	.bgA, .bgB{
		padding: 65px;
	}
	.historia, .contenedor-productos{
		margin-top: 90px;
		margin-bottom: 100px;
	}

	.nav i{
		font-size: 28px;
	}
	.nav div{
		margin-left: 30px;
		margin-right: 30px;
		margin-top: 20px;
	}

}

/*Hero Caption*/
@media screen and (max-width: 468px){
	.header{
		padding-top: 7em;
	}
	.titulo-a{
		font-size: 36px;
		line-height: 1;
		padding-bottom: 15px;
	}
}

/*FOOTER*/
@media screen and (max-width: 639px){
	.cl-1, .cl-2, .cl-3{
		text-align: center;
	}
	.cl-2, .cl-3{
		margin-top: 30px;
	}

}




/*PÁGINA HISTORIA*/

@media screen and (max-width: 1400px){
	.contenedor-portada-historia{
		background-image: url(../img/portada-historia-1100.jpg);
	}
}

@media screen and (max-width: 1060px){
	.contenedor-portada-historia{
		height: 65%;
	}
}
@media screen and (max-width: 920px){
	.contenedor-portada-historia{
		background-image: url(../img/portada-historia-920.jpg);
	}
}
@media screen and (max-width: 780px){
	.contenedor-portada-historia{
		background-image: url(../img/portada-historia-780.jpg);
		height: 53%;
	}
	.titulo-historia-a{
	font-size: 50px;
	margin-top: -55px;
	}
	.titulo-historia-b{
		font-size: 40px;
		margin-top: -45px;
	}
}
@media screen and (max-width: 639px){
	.tit-mision,
	.tit-vision{
		text-align: center;
	}
	.mv{
		text-align: center;
	}
	.vision{
		padding-top: 40px;
	}
}

@media screen and (max-width: 560px){
	.contenedor-mv{
	padding: 100px 0;
	}
	.contenedor-portada-historia{
		background-image: url(../img/portada-historia-560.jpg);
	}
	.tit-frescopan{
		font-size: 40px;
	}
	.tit-nuestra{
		font-size: 55px;
		padding-bottom: 10px;
	}
	.tit-mision,
	.tit-vision{
		font-size: 50px;
	}
}
@media screen and (max-width: 480px){
	.titulo-historia-a{
	font-size: 40px;
	margin-top: -90px;
	}
	.titulo-historia-b{
		font-size: 30px;
		margin-top: -35px;
	}
	.tit-frescopan{
		font-size: 30px;
		line-height: 30px;
	}
}
@media screen and (max-width: 380px){
	.titulo-historia-a{
	font-size: 35px;
	margin-top: -140px;
	}
	.titulo-historia-b{
		font-size: 25px;
		margin-top: -30px;
	}
}



